<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
<main class="home-view">
    <header>
        <h1>Hola, usuario !</h1>
        <p>Mi puntaje: puntaje usuario</p>
        <a href="/perfil">
            <img src="" alt="Perfil" id="perfil-icon">
        </a>
    </header>

    <section class="buttons">
        <a href="/historial" class="button">Historial de partidas</a>
        <a href="/ranking" class="button">Ranking</a>
        <a href="/crear-pregunta" class="button">Crear nueva pregunta</a>
        <a href="/nueva-partida" class="button">Nueva partida</a>
    </section>
</main>
</body>
</html>
