body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url('/TPFinalPreguntas/public/img/fondo_home.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #f8f9fa;
}

.admin-view {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
   margin-top: 40px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.stats, .filter, .user-stats, .user-gender-stats, .user-age-stats, .trampitas-stats {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#imprimir-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#imprimir-btn:hover {
    background-color: #0056b3;
}