body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.home-container {
    max-width: 500px;
    width: 100%;
}

.home-view {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

.nav-links a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #0056b3;
}

#perfil-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    padding: 12px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.logout-button {
    margin-top: 20px;
    background-color: #dc3545;
    color: white;
}

.logout-button:hover {
    background-color: #c82333;
}
