body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}
.map-placeholder {
    position: relative;
    width: 100%;
    height: 250px; /* Cambia el tamaño según lo necesites */
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #ddd; /* Para visualizar mejor los límites */
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

